// ~ required so webpack knows to look into aliases
@import '~app-styles/variables';

.navbar {
  position: fixed;
  top: 0;
  z-index: 9000;
  width: 100%;
  height: $navbar-height-large;
  background: $navbar-background-color;

  .navbar-wrapper-wrapper {
    max-width: $max-content-width;
    margin: 0 auto;
  }

  .navbar-wrapper {
    height: 100%;
    margin: 0 -10px;
    padding: 0 10px;

    /* clear fix */
    &::after {
      content: '';
      display: table;
      clear: both;
    }
  }

  .navbar-logo-wrapper.navbar-logo-wrapper-mobile {
    display: none;

    @media (max-width: #{$navbar-responsive}) {
      display: block;
      img {
        width: 100px;
      }
    }
  }

  .navbar-logo-wrapper.navbar-logo-wrapper-browser {
    display: block;
    float: left;
    border: none;
    img {
      width: $navbar-element-width;
      max-width: $navbar-element-max-width;
    }

    @media (max-width: #{$navbar-responsive}) {
      display: none;
    }
  }

  .navbar-logo {
    display: block;
  }

  ul {
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
  }

  .navbar-item {
    box-sizing: border-box;
  	display: inline-block;
    float: left;
    margin-top: 50px;
    width: $navbar-element-width;
    max-width: $navbar-element-max-width;

    @media (max-width: #{$navbar-responsive}) {
      display: block;
      float: none;
      text-align: center;
      margin: 5px auto;
      width: 100%;
      max-width: 100%;
    }
  }

  .navbar-items-dropdown {
  	display: none; // hide dropdown links by default
  }

  .navbar-item-dropdown {
    display: block;
    background: $navbar-background-color-dropdown;
    padding-top: 10px;
  }

  .navbar-link {
    font-family: $navbar-font-family;
    line-height: $navbar-line-height;
    font-size: $navbar-font-size;
    color: $navbar-font-color;
    border-bottom: 1px solid $navbar-font-color;
  	display: block;
    margin: 0 10px;
    text-transform: uppercase;
  	text-decoration: none;

    &:hover {
      color: $navbar-font-color-hover;
      border-bottom: 1px solid $navbar-font-color-hover;
    }
  }

  .navbar-link-dropdown {
    border: none;

    &:hover {
      border: none;
    }
  }

  /* show dropdown links on hover */
  .navbar-link:hover + .navbar-items-dropdown, .navbar-items-dropdown:hover {
  	display: block;
  }

  .show-menu {
  	font-family: $default-font-family;
  	text-decoration: none;
  	color: $navbar-font-color;
  	background: $navbar-background-color;
  	text-align: center;
  	padding: 10px 0;
  	display: none; // hide responsive menu by default

    @media (max-width: #{$navbar-responsive}) {
    	display: block;
    }
  }

  /* hide checkbox */
  input[type='checkbox'] {
   display: none;
  }

  #navbar-items {
    /* show nav items */
    @media (max-width: #{$navbar-responsive}) {
      display: none;
      &.open {
        display: block;
      }
    }
  }
}
